<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: black ;">
    <div style="align-items: center; margin: 30px 10px; border: 1px solid darkgray; padding: 10px 5px 10px 15px;">
        <h1 style="color: white; text-align:center;">My Journey</h1>
        <p style="line-height: 30px; color: wheat; font-size: larger;">
            My name is Shamsurahman Jaihoon. I am 30 years old from Badakhshan of Afghanistan presently living in
            Tajikistan. I was born in a society where customs and traditions prevailed over law and individual rights
            were
            violated. Despite this, I always had a goal, to become a protector of human rights and bring justice to the
            vulnerable people in my society. <br> Henceforth, after graduating from school I pursued my Bachelor in Law
            and
            Political Science. Consequently, after graduation, I served in my profession for more than 6 years. <br>
            Initially, I started by registering myself as a licensed defense lawyer and helped many people with legal
            consultation advice. Throughout my professional life, I tried to be a supporter of those who were oppressed
            by
            powerful figures and this was the biggest mission I have. On the other hand, I realized that women are the
            most
            vulnerable part of our society, thus I started to provide full free legal services for women, defending
            their
            rights and as a result of this I was honored by the leadership of the Human Rights Commission as well. <br>
            Additionally, I allotted my time to volunteering for CTEO humanitarian organization (a local nonprofit
            organization in Afghanistan) serving the internally displaced people by launching campaigns and collecting
            aid
            for flood-affected families, and setting up educational, legal, and cultural seminars for university
            students.
            Living and loving my profession I learned how important is the existence of law in society and how
            meaningful it
            could be when it is at the service of all and include everyone. <br>
            Unluckily, the recent crisis has devasted my settled life in Afghanistan and I had to travel to Tajikistan.
            Keeping in mind my dreams even as a refugee I did not stop learning and serving. I completed the language
            and
            culture training programs that were designed for refugees. Recently I became a certified trainer by the
            American
            Councils and I voluntarily started teaching and conducting training for refugees in Tajikistan. <br>
            Since I couldn’t work as a lawyer outside of Afghanistan, I decided to pursue my lifelong interest, which
            was
            computer programming, and I never had the time and conditions to learn it. Contrary to what others were
            saying,
            you don't have a background in computer science and you can't succeed. I started my education. I learned
            Frontend web development at Ilmhona Skills Accelerator sponsored by the US embassy and Backend web
            development
            at the University of Central Asia. I tried hard to become a diligent and professional full-stack web
            developer. <br>
            Currently, I am working as a freelance web developer and trying to organize free programming courses for
            young
            people, So that I don't stay away from my main and constant goal, which is to help people.

        </p>
    </div>
</body>

</html>